body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1176px;
  padding: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.gallery-image:hover {
  transform: scale(1.05);
}

/* Simple Lightbox */
.simple-lightbox {
  background-color: rgba(0, 0, 0, 0.8);
}

.simple-lightbox .sl-prev,
.simple-lightbox .sl-next,
.simple-lightbox .sl-counter,
.simple-lightbox .sl-close {
  color: white !important;
}
